{% extends "base.html" %}
{% load static %}

{% block content %}


<main id="main">

<section class="section">
    <div class="container">
    <div class="row mb-4 align-items-center">
        <div class="col-md-6" data-aos="fade-up">

        <h2>{{ course.title }}</h2>
        {% if request.user.is_superuser %}
        <div class="row">
            <a href="{% url 'edit_course' course.id %}" class="add-course-link-button mt-4 mb-4 readmore d-block text-center" style="width: 100px; margin-left: 15px; margin-right: 10px; background-color: buttonface;">Edit</a>
            <a href="{% url 'delete_course' course.id %}" class="add-course-link-button mt-4 mb-4 readmore d-block text-center" style="width: 100px; margin-left: 10px; margin-right: 10px; background-color: buttonface;">Delete</a>
        </div>
        {% endif %}
        <p class="mt-4" style="white-space: pre-wrap;">{{ course.content }}</p>
        {% if course_links %}
        <div class="mt-5 mb-5">
            <h4>Course Links</h4>
            <ul style="padding-left: 0px">
                {% for link in course_links %}
                <li style="list-style-type: none;" class="mt-3"><a href="{{ link.link }}" target="_blank" noreferrer>{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if request.user.is_superuser %}
        <a href="{% url 'add_course_link' course.id %}" class="add-course-link-button mt-4 mb-4 readmore d-block text-center" style="width: 200px; margin: 0 auto; background-color: buttonface;">Add Course Link</a>
        {% endif %}
        {% if course.category.name != 'prayer' %}
        <textarea name="course-{{ course.id}}-response" id="course-{{ course.id}}-response" cols="70" rows="10"></textarea>

        {% block javascript %}
        <script src="https://cdn.tiny.cloud/1/{{ tiny_mce_key }}/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
              selector: 'textarea',
              plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount export',
              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat | export',
            });
        </script>
        {% endblock %}
        {% endif %}

        <form action="{% url 'course' course.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="mt-4 readmore d-block" value="Mark Complete" style="width: 200px; margin: 0 auto;">
        </form>

        </div>

    </div>
    </div>

</section>

</main><!-- End #main -->


{% endblock %}